<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="/css/stylesmenu.css">
    <script src="/js/menu-script.js" defer></script>
</head>
<body>
<header>
    <div class="user-info">
        <h1 id="nombreUsuario" th:text="${nombre}">User name</h1> <!-- El nombre del usuario será usado -->
        <p th:text="${rol}">User Role</p>
    </div>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logout-btn">Log out</button>
    </form>
</header>
<main>
    <div class="menu-grid">
        <div class="menu-item">
            <a href="#" onclick="abrirEnNuevaVentana('http://localhost:8080/TTSHDash/jsf/home/dashboard.xhtml'); return false;">
                <img src="/iconos/Camion-mejor.png" alt="TTS Houston">
                <p>TTS Houston</p>
                <p class="description">Sistema de innovación</p>
            </a>
        </div>
        <div class="menu-item">
            <a href="#" onclick="abrirEnNuevaVentana('http://localhost:8080/dashQDM/jsf/home/dashboard.xhtml'); return false;">
                <img src="/iconos/almacenzzzzzz.png" alt="QDM">
                <p>QDM</p>
                <p class="description">Sistema de innovación</p>
            </a>
        </div>
        <div class="menu-item">
            <a href="#" onclick="abrirEnNuevaVentana('http://localhost:8080/dashInova/jsf/home/dashboard.xhtml'); return false;">
                <img src="/iconos/mostradorrrzzzzz.png" alt="Inova">
                <p>Inova</p>
                <p class="description">Sistema de innovación</p>
            </a>
        </div>
        <div class="menu-item">
            <a href="#" onclick="abrirEnNuevaVentana('http://localhost:8080/exportToQB/jsf/home/dashboard.xhtml'); return false;">
                <img src="/iconos/tooolsss.png" alt="Export to QB">
                <p>Export to QB</p>
                <p class="description">Sistema de innovación</p>
            </a>
        </div>
    </div>
</main>
</body>
</html>